#game-board {
	background-image: url('/wooden.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 50vh;

	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 0;
	border-radius: 15px;
	box-shadow: 13px 13px 20px 8px rgba(0, 0, 0, 0.5);
	border: 3px solid #4e280c;
}
#game-board h2 {
	font-family: 'helvetica', sans-serif;
	font-size: 1.5rem;
	margin-top: 1rem;
	letter-spacing: 0.1rem;
	color: #301616;
}
#game-board ul {
	display: grid;
	height: 80%;
	width: 90%;
	grid-template-columns: repeat(4, 150px);

	gap: 20px;
	padding: 2rem;
	justify-content: center;
}
