#header {
	font-family: 'Bangers', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background: #000000;
	box-shadow: 13px 13px 20px 8px rgba(0, 0, 0, 0.5);
	border-radius: 0 3rem 3rem 0;
	corner-shape: scoop;
}
#header h1 {
	font-size: 8rem;
	letter-spacing: 0.2rem;
	background: linear-gradient(45deg, #ffffff, #9c9c9c);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}
#header span {
	font-family: 'Orbitron', sans-serif;
	font-size: 1.2rem;
	background: linear-gradient(45deg, #f02e2e, #f10b0b);
	color: #ffb347;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	corner-shape: bevel;
}
