@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka+One&family=Orbitron:wght@700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	padding: 1rem;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
body {
	background-image: url('/pratix_bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
